html,
body {
  font-family: Montserrat, sans-serif;
  font-size: 13px;
  font-weight: 300;
}

.list-group-item-action {
  cursor: pointer;
  color: red;
}

.modal.lightbox {
  text-align: center;
}

.modal.lightbox > .modal-dialog {
  text-align: left;
  max-width: 100%;
  width: auto !important;
  display: inline-block;
  max-height: calc(95vh - 125px);
}

.split-list-item {
  display: flex;
  padding: 0;
}

.split-list-item > * {
  padding: 0.75rem 1.25rem;
  width: unset;
  border-left: 1px solid rgba(0, 0, 0, 0.125);
}

.split-list-item > :nth-child(1) {
  border-left: none;
}

.split-list-item > .active {
  color: #fff;
  background-color: #1091d1;
  border-color: #1091d1;
}

.split-list-item > .split-list-group-item-big {
  flex-grow: 1;
}

tr.checkbox-row td app-date-time .input-group {
  width: 92% !important;
  display: inline-flex !important;
  margin-left: 5px !important;
}

.form-control.is-valid {
  background-image: none !important;
}

.form-control.is-invalid {
  background-image: none !important;
}

th[sortable] {
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
}

.modal-open .modal {
  z-index: 1060;
}

.sidebar {
  position: relative;
}

.main-content {
  position: relative;
}

:root {
  --light: #f8f9fa;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}

.form-group {
  margin-bottom: 1rem;
}

.bg-dark::placeholder {
  color: var(--bs-gray) !important;
}

.float-right {
  float: right !important;
}

.modal-header {
  align-items: flex-start;
  justify-content: space-between;
}

.nav .d-grid {
  padding-bottom: 10px;
}

.btn-outline-primary {
  --bs-btn-color: #308ccf;
  --bs-btn-border-color: #308ccf;
  --bs-btn-hover-bg: #308ccf;
  --bs-btn-hover-border-color: #308ccf;
  --bs-btn-active-bg: #308ccf;
  --bs-btn-active-border-color: #308ccf;
  --bs-btn-disabled-color: #308ccf;
  --bs-btn-disabled-border-color: #308ccf;
}

.btn-primary {
  --bs-btn-bg: #308ccf;
  --bs-btn-border-color: #308ccf;
  --bs-btn-hover-bg: rgb(11.05, 93.5, 215.05);
  --bs-btn-hover-border-color: rgb(10.4, 88, 202.4);
  --bs-btn-active-bg: rgb(10.4, 88, 202.4);
  --bs-btn-active-border-color: rgb(9.75, 82.5, 189.75);
  --bs-btn-disabled-bg: #308ccf;
  --bs-btn-disabled-border-color: #308ccf;
}

.main-content .table-container {
  background-color: rgba(255, 255, 255, 0.568627451);
  padding: 20px;
  border-radius: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.1764705882);
}

.main-content .table-container .table {
  background-color: #fff;
}

.main-content .table-container .table td {
  cursor: pointer;
  height: 40px;
  vertical-align: middle;
}

app-info-group-body table,
app-card-body table {
  border-collapse: collapse;
  width: 100%;
}

app-info-group-body table tr:hover,
app-card-body table tr:hover {
  background-color: #ececec !important;
}

app-info-group-body table tr.required td:first-child::after,
app-card-body table tr.required td:first-child::after {
  content: '*';
  color: red;
  padding-left: 3px;
  font-weight: bold;
}

app-info-group-body table tr:not(:last-child),
app-card-body table tr:not(:last-child) {
  border-bottom: 1px dotted #ececec !important;
}

app-info-group-body table td,
app-card-body table td {
  text-transform: none !important;
  background: transparent !important;
  font-size: 13px !important;
  vertical-align: middle;
  border: 0;
  padding: 5px;
}

.main-content .table {
  background-color: transparent !important;
}

.main-content .table th {
  background-color: rgba(255, 255, 255, 0.568627451) !important;
}

.main-content .table tbody td {
  background-color: rgba(255, 255, 255, 0.568627451) !important;
}

tr {
  border-color: inherit !important;
}

label:has(input[type='radio']) {
  display: flex;
  align-items: center;
}

label:has(input[type='radio']) span {
  padding-left: 5px;
}

.multiline-value {
  white-space: pre-wrap;
}
